# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/

# Logs
logs
*.log
*.log.*

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env
.env*
!*.example

# Build artifacts
dist/
coverage/
dev1-*.json
*keypair.json
program/target/
